html,
body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#humana_box.humana_box {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #1a327b;
  background: #fff;
}

#humana_box.humana_box * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#humana_box.humana_box h2,
#humana_box.humana_box h3,
#humana_box.humana_box h4,
#humana_box.humana_box h5 {
  font-family: 'Quicksand', sans-serif;
  color: #1a327b;
}

#humana_box.humana_box .humana_kv {
  margin-bottom: 48px;
  padding: 0 16px;
}

#humana_box.humana_box .humana_kv__content {
  position: relative;
  left: 0%;
}

#humana_box.humana_box .humana_kv__image {
	margin-left: 320px;
	margin-top: 10px;
	width: 150px;
	display: none;
}

#humana_box.humana_box .humana_kv__logo {
  margin-bottom: 32px;
}

#humana_box.humana_box .humana_kv__img {
max-width: 100%;
  display: block;
  margin: 0 auto;
}

#humana_box.humana_box .humana_kv__image .humana_kv__img {
	width: 100%;
}

#humana_box.humana_box .humana_kv__photo {
	position: relative;
}

#humana_box.humana_box .humana_kv__img--photo {
	position: relative;
	left:0;
	top:0;
}

#humana_box.humana_box .humana_kv__text {
  position: relative;
  left: 0px;
  top: 35px;
  text-align: center;
  padding-bottom: 70px;
}

#humana_box.humana_box .humana_kv__title {
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  font-size: 28px;
  position: relative;
  z-index: 1;
  text-align: center;
  width: 300px;
  padding-bottom: 5px;
  margin: auto;
}

#humana_box.humana_box .humana_kv__title_bg {
	background-image: url('./images/b1b.png');
	background-repeat: no-repeat;
	background-position: center center;
	padding: 8px 10px 10px 10px;
	font-size: 25px;
  font-weight: 700;
  color: #fff;
  width: 282px;
  text-align: center;
  margin: auto;
}

#humana_box.humana_box .humana_kv__title span {
  font-size: 2.25em;
}

#humana_box.humana_box .humana_kv__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  text-align: center;
  letter-spacing: -1px;
}

#humana_box.humana_box .humana_kv__packshot {
  margin-top: -64px;
  margin-left: 0px;
  margin-right: -16px;
}

#humana_box.humana_box .humana_intro {
  margin-bottom: 16px;
}

#humana_box.humana_box .humana_intro__container {
  padding: 16px;
}


#humana_box.humana_box .humana_intro__packshot {
	position:relative;
  margin-bottom: 16px;
  text-align: center;
}

#humana_box.humana_box .humana_intro__packshot:hover .humana_intro__img {
	-webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#humana_box.humana_box .humana_intro__packshot:hover .humana_intro__img_bg1 {
	-webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

#humana_box.humana_box .humana_intro__packshot:hover .humana_intro__img_bg2 {
	-webkit-transform: translateX(40px);
          transform: translateX(40px);
}

#humana_box.humana_box .humana_intro__packshot--3 {
  margin-top: -32px;
}

#humana_box.humana_box .humana_intro__image {
text-align: center;
margin-top: -10px;
}

#humana_box.humana_box .humana_intro__img_bg {
	position:absolute;
	z-index: 1;
}
#humana_box.humana_box .humana_intro__img_bg1 {
	left:30px;
	top: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#humana_box.humana_box .humana_intro__img_bg2 {
	right:30px;
	top: 110px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#humana_box.humana_box .humana_intro__img {
	position:relative;
	z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 200px;
}

#humana_box.humana_box .humana_intro__image .humana_intro__img {
  width: 220px;
}

#humana_box.humana_box .humana_intro__title_2 {
	 display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    align-items: center;
	margin-top: -5px;
	-webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
#humana_box.humana_box .humana_intro__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 23px;
  font-weight: 700;
  padding-top: 50px;
  text-align: center;
}
#humana_box.humana_box .humana_intro__title_text {
	margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  font-weight: 500;
}
#humana_box.humana_box .humana_intro__title_bg {
	background-image: url('./images/b2e.png');
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px;
	font-size: 25px;
  font-weight: 700;
  color: #fff;
  width: 208px;
  text-align: center;
}

#humana_box.humana_box .humana_intro__title span {
  font-size: 2em;
}

#humana_box.humana_box .humana_intro__intro-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

#humana_box.humana_box .humana_intro__intro-subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #e9560d;
}

#humana_box.humana_box .humana_intro__intro-subtitle span {
  font-size: 2em;
}

#humana_box.humana_box .humana_intro__list {
  margin: 0;
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px;
  padding-left: 56px;
  list-style: none;
}

#humana_box.humana_box .humana_intro__list--color {
  background: #e2f6f5;
}

#humana_box.humana_box .humana_intro__item {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#humana_box.humana_box .humana_intro__item:not(:last-child) {
  margin-bottom: 16px;
}

#humana_box.humana_box .humana_intro__item::before {
  content: url("img/check.png");
  position: absolute;
  left: -40px;
}

#humana_box.humana_box .humana_intro__item:hover {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

#humana_box.humana_box .humana_intro__image {

}

#humana_box.humana_box .humana_intro__disc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  font-size: 9px;
  margin-top: -15px;
  margin-right: 0;
  text-align: center;
}

#humana_box.humana_box .humana_ingredients {
  padding: 16px;
  padding-bottom: 100px;
}

#humana_box.humana_box .humana_ingredients__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#humana_box.humana_box .humana_ingredients__cards_box {
	padding-top: 50px;
}

#humana_box.humana_box .humana_ingredients__cards {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    align-items: flex-start;
}

#humana_box.humana_box .humana_ingredients__single {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#humana_box.humana_box .humana_ingredients__icons {
	-webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}

#humana_box.humana_box .humana_ingredients__icons:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#humana_box.humana_box .humana_ingredients__single:hover {
  opacity: 0.8;
}

#humana_box.humana_box .humana_ingredients__title {
	margin:0;
	padding:14px 30px;
	font-size: 18px;
	font-weight: 500;
	background-position: left center;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
	width: 201px;
	margin: auto;
}

#humana_box.humana_box .humana_ingredients__title_bg1, #humana_box.humana_box .humana_ingredients__title_bg2 {
	background-image: url(./images/b4e.png);
}

#humana_box.humana_box .humana_ingredients__txt {
	margin:0;
	padding: 5px 0;
	text-align: left;
	margin-bottom: 25px;
	font-size: 12px;
	font-weight: 500;
}

#humana_box.humana_box .humana_ingredients__txt br {
	display: none;
}

#humana_box.humana_box .humana_ingredients__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  text-align: center;
}

#humana_box.humana_box .humana_ingredients__text span {
  font-size: 16px;
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
}



#humana_box.humana_box .humana_ingredients__disclaimer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 16px;
  font-size: 13px;
  text-align: center;
  width: 100%;
}

#humana_box.humana_box .humana_benefits {
  position: relative;
  z-index: 1;
  padding: 0 16px;
  background-image: url(./images/b3.png);
	background-position: top right;
	background-repeat: no-repeat;
	padding-top: 100px;
	background-size: 200px;
	padding-bottom: 50px;
	margin-top: 50px;
}

#humana_box.humana_box .humana_benefits__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding-top: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

#humana_box.humana_box .humana_benefits__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#humana_box.humana_box .humana_benefits__img:hover {
	-webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#humana_box.humana_box .humana_benefits__texts {
  max-width: auto;
  margin: 0 auto;
  padding-bottom: 25px;
}

#humana_box.humana_box .humana_benefits__text_h4 {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 2px;
}
#humana_box.humana_box .humana_benefits__text_p {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
}

#humana_box.humana_box .humana_benefits__text_font {
	font-size: 10px;
	margin: 0;
  padding: 0;
  font-weight: 600;
  padding-top: 3px;
}

#humana_box.humana_box .humana_benefits__text_p br {
  display: none;
}

#humana_box.humana_box .humana_benefits__texts--0 .humana_benefits__text_h4 {
  font-weight: 700;
  font-size: 26px;
}

#humana_box.humana_box .humana_benefits__texts--0 .humana_benefits__text_h4 .humana_benefits__text_span {
  color: #579fe0;
}

#humana_box.humana_box .humana_benefits__texts--0 .humana_benefits__text_p {
  font-size: 14px;
}

#humana_box.humana_box .humana_benefits__packshot {
  position: relative;
  z-index: -1;
}


#humana_box.humana_box .humana_ingredients__content {
	position: relative;
}

#humana_box.humana_box .humana_ingredients__packshot {
	background-image: url(./images/b4c.png);
	background-position: center center;
	background-repeat: no-repeat;
	padding: 20px 0;
	background-size: 228px;
}

#humana_box.humana_box .humana_ingredients__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  
}

#humana_box.humana_box .humana_ingredients__photo {
  margin-bottom: 24px;
    overflow: hidden;
	width: 200px;
	margin: auto;
}

#humana_box.humana_box .humana_ingredients__photo:hover .humana_ingredients__img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#humana_box.humana_box .humana_ingredients__pic {
	position: absolute;
	z-index: 2;
	left:0;
	right: 0;
	margin: auto;
	padding-left: 270px;
	top: -35px;
}
#humana_box.humana_box .humana_ingredients__pic2 {
	position: absolute;
	z-index: 2;
	left:0;
	right: 0;
	bottom:50px;
	margin: auto;
	padding-right: 260px;
}


#humana_box.humana_box .humana_apply {
  margin: 48px 0;
  position: relative;
  margin-top: 0;
}

#humana_box.humana_box .humana_apply__bg {
	position: absolute;
	z-index: 1;
	right: 0;
	top: -50px;
}

#humana_box.humana_box .humana_apply__title {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding: 16px;
  padding-top: 40px;
  padding-bottom: 5px;
  position: relative;
	z-index: 2;
}

#humana_box.humana_box .humana_apply__title_p {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  line-height: normal;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 600;
  max-width: 642px;
  padding: 16px;
  padding-top: 0px;
  padding-bottom: 20px;
  position: relative;
	z-index: 2;
}

#humana_box.humana_box .humana_apply__container {
  padding: 20px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

#humana_box.humana_box .humana_apply__step {
  width: auto;
}

#humana_box.humana_box .humana_apply__img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#humana_box.humana_box .humana_apply__photo {
  margin-bottom: 24px;
}

#humana_box.humana_box .humana_apply__photo:hover .humana_apply__img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#humana_box.humana_box .humana_apply__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  margin: 8px 0;
}

#humana_box.humana_box .humana_apply__desc {
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
  line-height: normal;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  width: auto;
}

#humana_box.humana_box .humana_apply__desc br {
  display: none;
}

#humana_box.humana_box .humana_info {
  margin-bottom: 32px;
}

#humana_box.humana_box .humana_info__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
}

#humana_box.humana_box .humana_info__photo {
  padding: 0 16px;
  margin-bottom: 32px;
      -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#humana_box.humana_box .humana_info__photo:hover {
-webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#humana_box.humana_box .humana_info__content {
  padding: 0 16px;
  position: relative;
  z-index: 1;
}

#humana_box.humana_box .humana_info__title {
  margin: 0 auto;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;
  padding: 0 16px;
  max-width: 308px;
}

#humana_box.humana_box .humana_info__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 32px;
}

#humana_box.humana_box .humana_info__subtitle span {
  display: block;
  color: #c4a474;
}

#humana_box.humana_box .humana_info__list {
  padding: 16px;
  margin: 0;
  line-height: 1.4;
}

#humana_box.humana_box .humana_info__point {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

#humana_box.humana_box .humana_info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  margin-bottom: 15px;
  gap: 7px;
}

#humana_box.humana_box .humana_info__icon {
  min-width: 39px;
  -ms-flex-preferred-size: 39px;
      flex-basis: 39px;
  position: relative;
}

#humana_box.humana_box .humana_info__text {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: normal;
}

#humana_box.humana_box .humana_info__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-top: 4px;
  display: inline-block;
  padding: 12px 48px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #1f9389;
  margin-bottom: 24px;
}

#humana_box.humana_box .humana_info__link:hover {
  background: #28bdb0;
}

#humana_box.humana_box .humana_info__disclaimer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 13px;
}

#humana_box.humana_box .humana_cross {
  position: relative;
  z-index: 1;
}

#humana_box.humana_box .humana_cross__slider {
  padding-top: 32px;
}

#humana_box.humana_box .humana_cross__wrapper {
  padding: 16px;
}

#humana_box.humana_box .humana_cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  font-weight: 600;
  padding: 16px;
  text-align: center;
}

#humana_box.humana_box .humana_cross__title .humana_cross__title_span {
  font-size: 22px;
}

#humana_box.humana_box .humana_cross__container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

#humana_box.humana_box .humana_cross__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 220px;
  margin: 0 auto;
}

#humana_box.humana_box .humana_cross__slider .humana_cross__product:hover .humana_cross__img {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

#humana_box.humana_box .humana_cross__slider .humana_cross__product:hover .humana_cross__link {
  opacity: 0.6;
}

#humana_box.humana_box .humana_cross__packshot {
  min-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#humana_box.humana_box .humana_cross__step {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #63bbbe;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #63bbbe;
  border-radius: 8px 8px 0 0;
  padding: 8px;
  width: 220px;
  font-size: 14px;
}

#humana_box.humana_box .humana_cross__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  font-size: 9px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
}

#humana_box.humana_box .humana_cross__text .humana_cross__text_span {
  font-size: 13px;
}

#humana_box.humana_box .humana_cross__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0 16px;
  min-height: 50px;
}

#humana_box.humana_box .humana_cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  display: inline-block;
  padding: 8px 10px 7px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-image: url(./images/cta1.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

#humana_box.humana_box .humana_cross__link:hover {
  opacity: 0.6;
}

#humana_box.humana_box .humana_cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#humana_box.humana_box .humana_cross .swiper-cross-button-prev:after,
#humana_box.humana_box .humana_cross .swiper-container-rtl .swiper-cross-button-next:after {
  display: none;
}

#humana_box.humana_box .humana_cross .swiper-cross-button-next:after,
#humana_box.humana_box .humana_cross .swiper-container-rtl .swiper-cross-button-prev:after {
  display: none;
}

#humana_box.humana_box .humana_cross .swiper-cross-button-next,
#humana_box.humana_box .humana_cross .swiper-container-rtl .swiper-cross-button-prev {
  right: -12px;
  left: auto;
}

#humana_box.humana_box .humana_cross .swiper-cross-button-prev,
#humana_box.humana_box .humana_cross .swiper-container-rtl .swiper-cross-button-next {
  left: -12px;
  right: auto;
}

#humana_box.humana_box .humana_cross .swiper-container-horizontal > .swiper-pagination-bullets,
#humana_box.humana_box .humana_cross .swiper-pagination-custom,
#humana_box.humana_box .humana_cross .swiper-pagination-fraction {
  bottom: 0px;
}

#humana_box.humana_box .humana_cross .swiper-cross-pagination {
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

#humana_box.humana_box .humana_cross .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #000;
  opacity: 1;
}

#humana_box.humana_box .humana_cross .swiper-pagination-bullet:not(:last-child) {
  margin-right: 6px;
}

#humana_box.humana_box .humana_cross .swiper-pagination-bullet-active {
  opacity: 1;
  background: #000;
}

#humana_box.humana_box .humana_footer {
  padding: 0;
  padding-top: 48px;
  position: relative;
  z-index: 0;
}

#humana_box.humana_box .humana_footer__disclaimer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  margin-bottom: 32px;
  font-size: 12px;
}

#humana_box.humana_box .humana_footer__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#humana_box.humana_box .humana_footer__logo_box {
  text-align: center;
  margin-top: -35px;
}

#humana_box.humana_box .humana_footer__logo {
  width: 100%;
  max-width: 55px;
}

#humana_box.humana_box .humana_footer__wrapper {
  background: -webkit-gradient(linear, left top, right top, from(#30663f), color-stop(#167535), to(#30663f));
  background: linear-gradient(to right, #30663f, #167535, #30663f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  padding: 19px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 425px) {
  #humana_box.humana_box .humana_kv__title {
    
  }
  #humana_box.humana_box .humana_kv__subtitle {
    font-size: 25px;
  }
}

@media screen and (min-width: 500px) {

#humana_box.humana_box .humana_kv__image {
	display: block;
  }
  
  #humana_box.humana_box .humana_kv__text {
  position: absolute;
  left: 30px;
  top: 35px;
}
  
#humana_box.humana_box .humana_ingredients__icons {
  display: block;
}

#humana_box.humana_box .humana_ingredients__title {
	font-size: 22px;
	padding:12px 60px;
	text-align: left;
	width: auto;
}
#humana_box.humana_box .humana_ingredients__txt {
	padding: 5px 10px 5px 33px;
}

#humana_box.humana_box .humana_ingredients__title_bg1 {
	background-image: url(./images/b4d.png);
}

}

@media screen and (min-width: 768px) {
  #humana_box.humana_box {
    max-width: 998px;
  }
  #humana_box.humana_box .humana_kv {
    margin-bottom: 32px;
  }
  #humana_box.humana_box .humana_kv__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #humana_box.humana_box .humana_kv__title {
 
  }
  #humana_box.humana_box .humana_kv__subtitle {
    font-size: 28px;
  }
  #humana_box.humana_box .humana_kv__photo {

  }
  #humana_box.humana_box .humana_kv__content {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  left: 50%;
  }
  
  #humana_box.humana_box .humana_kv__text {
  left: -70px;
  top: 105px;
}

  #humana_box.humana_box .humana_kv__content img {
    max-width: none;
  }
  #humana_box.humana_box .humana_kv__image {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
	width: auto;
	margin-left: 200px;
  }
  #humana_box.humana_box .humana_kv__packshot {
    margin-top: -262px;
  }
  #humana_box.humana_box .humana_kv__img {
max-width: 468px;
}
  #humana_box.humana_box .humana_kv__img--photo {
/*    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 12%;
       object-position: 12%;
    height: 100%; */
  }
  
  #humana_box.humana_box .humana_kv__img--photo {
	position: absolute;
}
#humana_box.humana_box .humana_kv__img {
	width: auto;
}

  #humana_box.humana_box .humana_intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
			align-items: center;
			gap: 50px;
  }

  #humana_box.humana_box .humana_intro__content {
   

  }
  #humana_box.humana_box .humana_intro__content--1 {
    max-width: 532px;
    padding: 0;
    margin-left: auto;
    margin-right: 0;
  }
  #humana_box.humana_box .humana_intro__content--2 {
    
  }
  #humana_box.humana_box .humana_intro__content--3 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: none;
  }
  #humana_box.humana_box .humana_intro__packshot {
    margin-bottom: 0;
  }
  #humana_box.humana_box .humana_intro__packshot--3 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  #humana_box.humana_box .humana_intro__list {
    background: none;
  }
  #humana_box.humana_box .humana_intro__title {
  font-size: 23px;
  padding-top: 30px;
  text-align: left;
}
#humana_box.humana_box .humana_intro__title_2 {
      -ms-flex-flow: row;
          flex-flow: row;
}
  #humana_box.humana_box .humana_intro__img_bg1 {
	left:-90px;
	top: 35px;
}
#humana_box.humana_box .humana_intro__img_bg2 {
	right:-90px;
	top: 140px;
}
#humana_box.humana_box .humana_intro__image {
  text-align: right;
}
#humana_box.humana_box .humana_intro__disc {
  margin-right: 115px;
  text-align: right;
}
  #humana_box.humana_box .humana_benefits {
    margin: 80px 65px 64px 65px;
    position: relative;
  padding-top: 120px;
	background-size: 334px;
  }
  #humana_box.humana_box .humana_intro__img {
  width: auto;
}
#humana_box.humana_box .humana_intro__image .humana_intro__img {
  width: auto;
}
  
  #humana_box.humana_box .humana_benefits__img {
	padding-left: 50px;
  }
  
  #humana_box.humana_box .humana_benefits__texts {
    position: absolute;
    max-width: 290px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	padding-bottom: 0;
  }
  #humana_box.humana_box .humana_benefits__text_p br {
  display: block;
}
  #humana_box.humana_box .humana_benefits__texts--0 {
    top: 20px;
    left: 0px;
	max-width: 400px;
  }
  #humana_box.humana_box .humana_benefits__texts--1 {
    top: 240px;
    left: 0px;
  }
  #humana_box.humana_box .humana_benefits__texts--2 {
    top: 340px;
    left: 0px;
  }
  #humana_box.humana_box .humana_benefits__texts--3 {
    top: 470px;
    left: 0px;
  }
  
  #humana_box.humana_box .humana_benefits__texts--4, #humana_box.humana_box .humana_benefits__texts--5 {
   text-align: right;
  }
  
  #humana_box.humana_box .humana_benefits__texts--4 {
    top: 310px;
    right: 0px;
  }
  #humana_box.humana_box .humana_benefits__texts--5 {
    top: 470px;
    right: 0px;
  }

  #humana_box.humana_box .humana_benefits__name {
    max-width: 270px;
    margin-left: 0;
    margin-right: auto;
  }
  #humana_box.humana_box .humana_ingredients__packshot {
	background-size: 281px;
}
  #humana_box.humana_box .humana_ingredients__photo {
  width: 243px;
}
  #humana_box.humana_box .humana_apply {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 64px;
  }
  #humana_box.humana_box .humana_apply__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
			gap: 70px;
			padding: 35px 16px;
  }
  
  #humana_box.humana_box .humana_apply__step {
  width: 297px;
}

  #humana_box.humana_box .humana_apply__step:not(:last-child) {
    margin-right: 16px;
  }
  
  #humana_box.humana_box .humana_apply__img {
  padding-right: 20px;
  max-width: 100%;
}

#humana_box.humana_box .humana_apply__desc {
  width: 278px;
}

#humana_box.humana_box .humana_apply__desc br {
  display: block;
}
#humana_box.humana_box .humana_apply__bg {
	top: 0px;
}
  #humana_box.humana_box .humana_info {
    max-width: 900px;
    margin: 32px auto;
    margin-bottom: 64px;
	padding: 0 50px 0 50px;
  }
  #humana_box.humana_box .humana_info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #humana_box.humana_box .humana_info__container--second {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
  #humana_box.humana_box .humana_info__photo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0;
	text-align: center;
  }

  #humana_box.humana_box .humana_info__img {
    width: auto;
  }
  #humana_box.humana_box .humana_info__title {
    margin: 0;
	margin-bottom: 24px;
  }
  #humana_box.humana_box .humana_info__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0;
  }

  #humana_box.humana_box .humana_cross {
    margin: 0 auto;
  }
  #humana_box.humana_box .humana_cross__slider, #humana_box.humana_box .humana_cross__pagination {
    display: none;
  }
  #humana_box.humana_box .humana_cross__wrapper {
    margin: 0;
  }
  #humana_box.humana_box .humana_cross__title {
    margin-bottom: 32px;
  }
  #humana_box.humana_box .humana_cross__text {
    min-height: 27px;
  }
  #humana_box.humana_box .humana_cross__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
  #humana_box.humana_box .humana_cross__product {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 200px;
  }
  #humana_box.humana_box .humana_cross__product--double {
    min-width: 460px;
  }
  #humana_box.humana_box .humana_cross__product--double .humana_cross__step {
    width: 460px;
  }
  #humana_box.humana_box .humana_cross__link:hover {
    opacity: 0.6;
  }
  #humana_box.humana_box .humana_cross__desc {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #humana_box.humana_box .humana_cross__packshots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #humana_box.humana_box .humana_cross__packshot {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #humana_box.humana_box .humana_cross__packshot:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #humana_box.humana_box .humana_cross__texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 56px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #humana_box.humana_box .humana_cross__texts .humana_cross__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #humana_box.humana_box .humana_cross__texts .humana_cross__desc {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #humana_box.humana_box .humana_footer__img {
    margin-left: auto;
    margin-right: auto;
  }
  
	#humana_box.humana_box .humana_footer__logo_box {
		margin-top: -80px;
		padding-bottom: 12px;
	}
	#humana_box.humana_box .humana_footer__logo {
		max-width: 80px;
	}
}

@media screen and (min-width: 860px) {
  
#humana_box.humana_box .humana_ingredients__cards_box {
	padding-top: 0;
}
#humana_box.humana_box .humana_ingredients__txt br {
	display: block;
}


  #humana_box.humana_box .humana_ingredients {
    margin: 0 auto;
	padding-right: 100px;
  }
  #humana_box.humana_box .humana_ingredients__title {
    margin-bottom: 0;
  }
  #humana_box.humana_box .humana_ingredients__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #humana_box.humana_box .humana_ingredients__content-title {
    margin-top: 32px;
    line-height: 1;
    padding: 16px 24px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 35px;
  }
  #humana_box.humana_box .humana_ingredients__content-title span {
    font-size: 25px;
  }
  #humana_box.humana_box .humana_ingredients__img-packshot {
    margin-right: auto;
  }
  #humana_box.humana_box .humana_ingredients__wrapper, #humana_box.humana_box .humana_ingredients__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
			-ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
  #humana_box.humana_box .humana_ingredients__cards {
    margin: 0;
    background: url(img/bg-ingr.png) no-repeat center center;
  }
  #humana_box.humana_box .humana_ingredients__disclaimer {
    text-align: left;
    max-width: 460px;
    margin-right: 0;
    margin-left: auto;
  }
  #humana_box.humana_box .humana_ingredients__single {
    width: 360px;
  }
/*  #humana_box.humana_box .humana_ingredients__packshot {
    margin-top: -100px;
  } */
  
	#humana_box.humana_box .humana_footer__logo_box {
		margin-top: -100px;
	}
	#humana_box.humana_box .humana_footer__logo {
		max-width: 106px;
	}
}

@media screen and (min-width: 998px) {
  #humana_box.humana_box .humana_info__title {
    font-size: 22px;
  }
  #humana_box.humana_box .humana_info__icon {
    position: relative;
  }
  #humana_box.humana_box .humana_info__icon::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #humana_box.humana_box .humana_info__icon--1::before {
    content: url("img/line-1.png");
    left: -124px;
  }
  #humana_box.humana_box .humana_info__icon--2::before {
    content: url("img/line-1.png");
    left: -124px;
  }
  #humana_box.humana_box .humana_info__icon--3::before {
    content: url("img/line-1.png");
    left: -124px;
  }
}

@-webkit-keyframes clock {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes clock {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes sway {
  0% {
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
  50% {
    -webkit-transform: rotate(-29deg);
            transform: rotate(-29deg);
  }
  100% {
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
}

@keyframes sway {
  0% {
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
  50% {
    -webkit-transform: rotate(-29deg);
            transform: rotate(-29deg);
  }
  100% {
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
}
/*# sourceMappingURL=style.css.map */